
/********************************
*********************************  FRONT PAGE
********************************/
.app-inline{
    display:inline-block;
}
.app-margin-0{
    padding-left:0;
    margin-left:0;
}
footer{
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 10px;
}